[Desktop Entry]
Name=Aiko System
Comment=System resources monitor widget
Exec=aiko --sys
Icon=utilities-system-monitor-symbolic
Terminal=false
Type=Application
Categories=Utility;System;
Keywords=system;monitor;cpu;ram;disk;aiko;
StartupWMClass=aiko-sys
