[Desktop Entry]
Name=Aiko Note
Comment=Simple floating notes widget
Exec=/home/watashi/.config/waybar/widgets/aiko-note/aiko-note.sh
Icon=/home/watashi/.config/waybar/assets/aiko-icon.svg
Terminal=false
Type=Application
Categories=Utility;Office;
Keywords=notes;aiko;widget;
StartupWMClass=aiko-note
