[Desktop Entry]
Name=Aiko Weather
Comment=AikoHyprSetup Weather Widget
Exec=/home/watashi/.config/waybar/widgets/aiko-weather/aiko-weather.sh
Icon=/home/watashi/.config/waybar/assets/cat-icon.svg
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=aiko-weather
