[Desktop Entry]
Name=Aiko Themes
Comment=Select global theme for AikoHyprSetup
Exec=aiko --theme
Icon=$HOME/.config/waybar/assets/aiko-icon.svg
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=theme;aiko;style;
