[Desktop Entry]
Name=Aiko Themes
Comment=Select global theme for AikoHyprSetup
Exec=@HOME@/.config/waybar/scripts/theme-selector.sh
Icon=@HOME@/.config/waybar/assets/aiko-icon.svg
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
Keywords=theme;aiko;style;
