[Desktop Entry]
Name=Aiko Weather
Comment=AikoHyprSetup Weather Widget
Exec=@HOME@/.config/waybar/widgets/aiko-weather/aiko-weather.sh
Icon=@HOME@/.config/waybar/assets/cat-icon.svg
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=aiko-weather
