[Desktop Entry]
Name=Aiko User Card
Comment=Profile and quick info card
Exec=aiko --usercard
Icon=contact-new-symbolic
Terminal=false
Type=Application
Categories=Utility;
Keywords=user;profile;card;aiko;
StartupWMClass=aiko-usercard
