[Desktop Entry]
Name=Aiko Player
Comment=Retro style media player widget
Exec=aiko --player
Icon=multimedia-player-symbolic
Terminal=false
Type=Application
Categories=Utility;AudioVideo;
Keywords=player;music;spotify;aiko;
StartupWMClass=aiko-player
