[Desktop Entry]
Name=Aiko Note
Comment=Simple floating notes widget
Exec=aiko --note
Icon=$HOME/.config/waybar/assets/aiko-icon.svg
Terminal=false
Type=Application
Categories=Utility;Office;
Keywords=notes;aiko;widget;
