[Desktop Entry]
Name=Aiko Clock
Comment=AikoHyprSetup Clock Widget
Exec=aiko --clock
Icon=@HOME@/.config/waybar/assets/cat-icon.svg
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=aiko-clock
