[Desktop Entry]
Name=Aiko Tasks
Comment=Simple task list widget
Exec=@HOME@/.config/waybar/widgets/aiko-list/aiko-list.sh
Icon=checkbox-checked-symbolic
Terminal=false
Type=Application
Categories=Utility;
Keywords=task;todo;list;aiko;
StartupWMClass=aiko-list
