[Desktop Entry]
Name=Aiko Clock
Comment=AikoHyprSetup Clock Widget
Exec=@HOME@/.config/waybar/widgets/aiko-clock/aiko-clock.sh
Icon=@HOME@/.config/waybar/assets/cat-icon.svg
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=aiko-clock
