#aiko-calendar-window {
    background-color: transparent;
}

#main-container {
    background-color: rgba(0, 0, 0, 0.99);
    border: 1px solid rgba(44, 44, 44, 0.8);
    border-radius: 12px;
}

#month-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

#nav-btn {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
}

#nav-btn:hover {
    color: #000000;
    background: #ffffff;
    border-radius: 6px;
}

#weekday-label {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.8;
    padding-bottom: 5px;
}

#day-btn {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(44, 44, 44, 0.5);
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
    min-width: 38px;
    min-height: 38px;
}

#day-btn:hover {
    background: #ffffff;
    color: #000000;
}

#today-btn {
    color: #000000;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-weight: 900;
    font-size: 14px;
    padding: 8px;
    min-width: 38px;
    min-height: 38px;
}

#today-btn:hover {
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}

#empty-day {
    background: transparent;
    border: none;
    box-shadow: none;
}
